$colorCross:#ef233c;
$colorCircle:#1e6091;
$colorDraw: #8338ec;

//buttons

$colorButtonDefault:#90e0ef;
$colorHoverButtonDefault:#00b4d8;
$colorDisableButtonDefault:#e5e5e5;

//text and labels

$colorLabelDefault: #343a40;
